/*I learned CSS just now*/
a:link {text-decoration:none;color:#000000;background-color:#FFAAAA;}
a:visited {text-decoration:none;color:#000000;background-color:#FFAAAA;}
a:hover {text-decoration:none;color:#FFFFFF;background-color:#FF9999;}
a:active {text-decoration:none;color:#000000;background-color:#FFAAAA;}
