/*I learned CSS just now*/
a:link {text-decoration:none;color:#FFFFFF;background-color:#000000;}
a:visited {text-decoration:none;color:#FFFFFF;background-color:#000000;}
a:hover {text-decoration:none;color:#FFFFFF;background-color:#0000FF;}
a:active {text-decoration:none;color:#FFFFFF;background-color:#000000;}
