@import "fonts/Charis/Charis-webfont.css"

@font-face {
  font-family: "Liberation Mono";
  font-weight: normal;
  src: url("fonts/LiberationMono-Regular.ttf");
}

@font-face {
  font-family: "Liberation Serif";
  font-weight: normal;
  src: url("fonts/LiberationSerif-Regular.ttf");
}

@font-face {
  font-family: "Liberation Serif";
  font-weight: bold;
  src: url("fonts/LiberationSerif-Bold.ttf");
}

@font-face {
  font-family: "Hiragino Mincho Pro";
  font-weight: bold;
  src: url("fonts/Hiragino-Mincho-Pro.otf");
}

html {
    background: #181818;
    color: #E8E8E8;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: "Liberation Serif", "Hiragino Mincho Pro", serif;
    font-size: 24px;
}

h1, h2 {
    text-align: center;
    font-weight: bold;
}

a[href] {
    color: #90D6FF;
    border: none;
    text-decoration: none;
    transition: border 0.25s ease-in-out,
                background-color 0.25s ease-in-out;
}

a[href]:hover {
    color: #90D6FF;
    border-bottom: #90D6FF solid 2px;
    background-color: #333333;
}

p {
    line-height: 1.6em;
}

.female-gender {
    color: #ffb6c1;
}

.fluent {
    color: #ffffff;
    text-decoration: underline;
}

.also-fluent {
    color: #e8e8e8;
    text-decoration: underline;
}

.not-that-fluent {
    color: #a8a8a8;
    text-decoration: underline;
}

.not-fluent {
    color: #888888;
}

.just-start-learning {
    color: #686868;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul {
    padding-left: 0;
}

.ipa {
    font-family: CharisW;
}

.optional {
    color: #a8a8a8;
}

ul > li {
    list-style-type: none;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

ul > li::before {
    content: '';
    width: 0.4em;
    height: 0.4em;
    background-color: #ffb6c1;
    display: inline-block;
    margin-right: 0.4em;
    margin-bottom: 0.1em;
}

#output {
    user-select: none;
}

#sat {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 350px;
    transition: opacity 0.25s ease-in-out;
}

#sat:hover {
    opacity: 30%;
}

@media screen and (min-width: 750px) {
    body {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 12px;
    }
}

