@font-face {
    font-family: FZXS12;
    src: url(../fonts/FZXIANGSU12.ttf);
}

@font-face {
    font-family: papy;
    src: url(../fonts/papychinese.ttf);
}

@font-face {
    font-family: sans;
    src: url(../fonts/sanschinese.ttf);
}

html {
    background: black;
    color: white;
    font-family: 'FZXS12', monospace;
    overflow: hidden;
    scrollbar-width: none;
}

body {
    padding: 5px;
    color: white;
    font-family: 'FZXS12';
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    --highlight-color: yellow;
    -ms-overflow-style: none;
}

div#title {
    text-align: center;
    font-size: 2rem;
    color: var(--highlight-color);
    padding: 10px;
}

div#dialog {
    border: 5px solid #fff;
    padding: 10px;
    height: 100px;
    margin: 9px;
    line-break: anywhere;
    line-height: 18px;
}

div#operations {
    padding: 6px;
}

div.operation {
    display: inline-block;
}

div.operation:hover {
    color: var(--highlight-color);
}

div.titleh1 {
    font-size: 1.5rem;
}

div#options-content {
    height: 200px;
    overflow: scroll;
}

div#options-content::-webkit-scrollbar {
    display: none;
}

div#options {
    padding: 5px;
}

div.trigger {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    transition: all .125s ease-in;
}

div.trigger:hover {
    color: var(--highlight-color);
    transform: translate(3px, 0);
}

span.highlighted-text {
    color: var(--highlight-color);
}

span.charad-text {
    color: red;
}
